apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bubbles-backend-kustomize-istio
  namespace: openshift-gitops # change to argocd if using minikube
spec:
  destination:
    namespace: bubbles-istio
    server: https://kubernetes.default.svc 
  project: default 
  source: 
    path: bubbles-backend/src/main/istio
    repoURL: https://github.com/redhat-developer-demos/bubbles-progressive-delivery.git
    targetRevision: main
  syncPolicy: 
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true